<div class="row">
  <div class="col-xs-12" style="margin-bottom: 50px">
    <form [formGroup]="this.editForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" style="margin-right: 5px;"
            [disabled]="editForm.invalid"
            class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagepath">Image URL</label>
            <input formControlName="imageURL" type="text" id="imagepath" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value"
            style="max-height: 300px;"
            alt="" class="image-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" type="text" id="description"
              rows="3"
              class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <button type="button"
            (click)="addForm()"
            class="btn btn-primary">Add Ingredient
          </button>
          <hr>
        <!-- <div class="col-xs-12"> -->
          <div class="row" style="margin-bottom: 5px;"
            *ngFor="let ingredientCtrl of getControls(); let i = index"
            [formGroupName]="i"
            >
            <div class="col-xs-8">
              <input type="text" name="" id=""
                formControlName="name"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <input type="number" name="" id=""
                formControlName="amount" min="0"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger"
                (click)="deleteIngredient(i)"
                style="width: 100%;">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
