<div class="row" style="margin-top: 6rem;">
  <div class="col-xs-12">
    <img [src]="recipe?.image" alt="" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="addToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a  style="cursor: pointer;" (click)="onRecipeEdit()">Edit Recipe</a></li>
        <li><a  (click)="deleteRecipe()" style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredients</p>
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer;"
      *ngFor="let ingredient of recipe?.ingredients">{{ingredient.name}} - ({{ingredient.amount}})</li>
      <!-- <li *ngFor="let ingredient of recipe.ingredients"> {{ingredient}} </li> -->
    </ul>
  </div>
</div>
